include ../dropdown/dropdown

mixin date-fields(main, second=false)
  - const { title, placeholder, name, value } = main;
  - const dropdownIconClass = second ? '' : 'dropdown__icon_pad-top-3';

  +b.SECTION.date-fields&attributes(attributes)
    +e.main-field
      +e.title-wrapper
        +e.H2.title= title

      +e.dropdown-wrapper
        +e.dropdown-container
          +e.INPUT.datepicker-field.js-datepicker-field(
            type=type,
            placeholder=placeholder,
            name=name,
            value=value,
            autocomplete="off",
            spellcheck="false"
          )

          +e.I.dropdown-icon.material-icons keyboard_arrow_down

    if (second)
      - const { title, placeholder, name, value } = second;

      +e.second-field
        +e.title-wrapper
          +e.H2.title= title

        +e.dropdown-wrapper
          +e.dropdown-container
            +e.INPUT.datepicker-field.js-datepicker-field(
              type=type,
              placeholder=placeholder,
              name=name,
              value=value,
              autocomplete="off",
              spellcheck="false"
            )

            +e.I.dropdown-icon.material-icons keyboard_arrow_down
