include ../radio-button/radio-button
include ../toggle/toggle

mixin sign-up-menu
  +b.SECTION.sign-up-menu
    +e.wrapper
      +e.FORM.container
        +e.title-main-wrapper
          +e.H1.title-main Регистрация аккаунта

        +e.text-field-wrapper
          +e.INPUT.text-field(type="text", placeholder="Имя", name="name")

        +e.text-field-wrapper
          +e.INPUT.text-field(
            type="text",
            placeholder="Фамилия",
            name="surname"
          )

        +e.radio-buttons-container
          +e.radio-button
            +radio-button({ name: 'gender', id: 'male', text: 'Мужчина', checked: true })

          +e.radio-button
            +radio-button({ name: 'gender', id: 'female', text: 'Женщина' })

        +e.title-wrapper
          +e.H2.title дата рождения

        +e.date-birth
          +e.INPUT.text-field.js-date-birth-text-field(
            type="text",
            placeholder="ДД.ММ.ГГГГ",
            name="birthday",
            spellcheck="false"
          )

        +e.title-wrapper
          +e.H2.title данные для входа в сервис

        +e.text-field-wrapper
          +e.INPUT.text-field(
            type="email",
            placeholder="Email",
            name="email",
            autocomplete="email"
          )

        +e.text-field-wrapper
          +e.INPUT.text-field(
            type="password",
            placeholder="Пароль",
            name="password",
            autocomplete="new-password"
          )

        +e.toggle
          +toggle('Получать спецпредложения', 'offers')

        +e.button-payment-wrapper
          +e.BUTTON.button-payment зарегистрироваться
            +e.I.icon.material-icons arrow_forward

      +e.footer
        +e.text Уже есть аккаунт на Toxin
        +e.sign-in-wrapper
          +e.A.button-sign-in(href="sign-in.html") войти
