mixin images-slider(srcArr)
  +b.images-slider.js-images-slider
    +e.arrows
      +e.arrows-container
        +e.BUTTON.arrows-prev.js-images-slider__arrows-prev(type="button")
          +e.I.arrows-icon.material-icons expand_more

        +e.BUTTON.arrows-next.js-images-slider__arrows-next(
          type="button"
        )
          +e.I.arrows-icon.material-icons expand_more

    +e.images
      +e.UL.images-container
        each path in srcArr
          +e.container
            - if(path === srcArr[0])
              +e.IMG.image._current.js-images-slider__image_current.js-images-slider__image(
                src=path,
                alt="фото номера"
              )
            - else
              +e.IMG.image.js-images-slider__image(
                src=path,
                alt="фото номера"
              )

    +e.circles
      +e.UL.circles-container
        - for(i = 0; i < srcArr.length; i += 1)
          - if(i === 0)
            +e.BUTTON.circles-button._current.js-images-slider__circles-button_current.js-images-slider__circles-button(
              type="button"
            )
          - else
            +e.BUTTON.circles-button.js-images-slider__circles-button(
              type="button"
            )
