mixin sign-in-menu
  +b.SECTION.sign-in-menu
    +e.FORM.wrapper
      +e.title-wrapper
        +e.H1.title Войти

      +e.text-field
        +b.INPUT.text-field(
          type="email",
          placeholder="Email",
          name="email",
          autocomplete="email"
        )

      +e.text-field
        +b.INPUT.text-field(
          type="password",
          placeholder="Пароль",
          name="password",
          autocomplete="new-password"
        )

      +e.login-button-wrapper
        +e.BUTTON.login-button(type="submit") войти
          +e.I.icon.material-icons arrow_forward

      +e.create-account-wrapper
        +e.create-account-container
          +e.text Нет аккаунта на Toxin?
          +e.button-create-wrapper
            +e.A.button-create(href="sign-up.html") создать
