mixin dropdown({ type, placeholder, value, name }= false)
  +b.dropdown&attributes(attributes)
    +e.INPUT.text-field(
      type=type,
      placeholder=placeholder,
      name=name,
      value=value,
      readonly="readonly"
    )

    +e.I.icon.material-icons keyboard_arrow_down
