include ../logo/logo
include ../social-link/social-link
include ../subscription/subscription


mixin footer(data)
  +b.FOOTER.footer
    +e.top-area
      +e.container-top.wrapper
        +e.container-logo
          +e.logo
            +logo()
          +e.P.text= data.text

        +b.NAV.footer-menu
          +e.SECTION.container
            each item in data.menu1
              if(item.title)
                +e.title
                  h3= item.title
              else
                +e.LI.link
                  a(href=item.href)= item.text

          +e.SECTION.container
            each item in data.menu2
              if(item.title)
                +e.title
                  h3= item.title
              else
                +e.LI.link
                  a(href=item.href)= item.text

          +e.SECTION.container
            each item in data.menu3
              if(item.title)
                +e.title
                  h3= item.title
              else
                +e.LI.link
                  a(href=item.href)= item.text

          +e.SECTION.container._w260
            +e.H3.title-sub= data.subTitle
            +e.P.text= data.subText

            +e.subscription
              +subscription({
                "type"  : "email",
                "place" : data.subPlace,
                "icon"  : "!"
              })

    +e.bottom-area
      +e.container.wrapper
        +e.container-bottom
          +e.SMALL.text= data.bottomText
          +social-link()

