include ../rate-button/rate-button

mixin hotel-item(data)

  +b.hotel-item
    +b.images-slider.js-images-slider
      +e.control-deactive
        +b.button-prev
          button
            +e.I.icon.material-icons expand_more
        +b.button-next
          button
            +e.I.icon.material-icons expand_more

      +e.images-container
        +e.IMG(src=data.src).img.img-current
        +e.IMG(src=data.src2).img
        +e.IMG(src=data.src3).img
        +e.IMG(src=data.src4).img

      +b.control
        +e.BUTTON.button.circle-current
        +e.BUTTON.button
        +e.BUTTON.button
        +e.BUTTON.button

    +b.room-price.hotel-item-room-price
      div
        +e.SPAN.icon №
        +e.SPAN.number= data.number
        if (data.lux)
          +e.STRONG.room-class(class=data.lux) люкс
      div
        +e.STRONG.price= data.price
        +e.SPAN.text-price в сутки

    +e.line

    +b.review.hotel-item-review
      +rate-button(data.stars)

      +e.text
        span= data.rating
        +e.SPAN.text-rating Отзывов